{{ define "home" }}
{{ template "base" . }}
<section id="home">
    <div class="reveal active">
        <p class="hero-sub">Hi, my name is</p>
        <h1 class="hero-text">{{ .Name }}</h1>
        <h2 class="hero-text" style="color: var(--text-secondary); font-size: 3rem;">
            <span id="typing-text"></span><span class="cursor">|</span>
        </h2>
        
        <p class="hero-desc">{{ .Biodata }}
        </p>
        
        <a href="/portfolio" class="cta-btn">Check my work!</a>
    </div>
</section>
{{ template "footer" .}}
{{ end }}